<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<style>
		h1{
			color:red;
			font-size: 12px;  
			font-family:Arial;
			margin-bottom: 20px;
		}
	</style>
</head>
<body>
    <h1> Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit error commodi quas, corporis, beatae voluptatum ducimus itaque cumque, alias iusto consectetur. Culpa iusto ad labore id possimus atque qui excepturi.</h1>
</body>
</html>